body{
  padding:0;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Cousine', monospace;
  font-size: 14px;
  color: #686868;
  background-color: rgb(254,254,254);
  
}

@media screen and (max-device-width: 480px){
  body{
    font-size: 12px;
  }
}

.hover-opacity{
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
.hover-opacity:hover{
  opacity: .7
}

button{
  border-radius: 2px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  border: 1px solid #C5C5C5;
  width: 200;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
button:hover{
  color:#303030;
  box-shadow: inset 0 0 1em rgba(200,200,200,0.30);
}
button:active{
  box-shadow: inset 1px 1px 1em rgba(150,150,150,0.40);
}
button:focus{
  outline: none;
}

select{
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  -webkit-appearance: none;
  padding-right: 20px;
  background: url(/svg/dropdown.svg) no-repeat right #fafafa;
  background-size: 20px;
  background-position: 95% 50%;
}
select:hover{
  cursor: pointer;
}
select:focus {
  outline: none;
}

.shadow {
  /*-webkit-filter: drop-shadow(0px 5px 8px rgba(150,150,150,0.70));
  filter:         drop-shadow(0px 5px 8px rgba(150,150,150,0.70));*/

  -webkit-filter: drop-shadow(0px 3px 4px rgba(150,150,150,0.30));
  filter:         drop-shadow(0px 3px 4px rgba(150,150,150,0.30));

  /*-webkit-filter: drop-shadow(3px 3px 0px rgba(234,234,234,0.30));
  filter:         drop-shadow(3px 3px 0px rgba(234,234,234,0.30));
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;*/
}
.shadow:hover{
  -webkit-filter: drop-shadow(0px 5px 8px rgba(150,150,150,0.70));
  filter:         drop-shadow(0px 5px 8px rgba(150,150,150,0.70));
}

.transition{
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
}
